<div class="tab-pane fade " id="nav-enter"
                    role="tabpanel" aria-labelledby="nav-enter-tab">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-xxl-12">
                            <label for="ciftlik" class="form-label
                              form-label-sm">Çiftllik Seçiniz</label>
                            <select id="ciftlik" class="form-control
                              form-control-sm">
                              <option value="maku">Makü Çiftlik</option>
                              <option value="aa">aa</option>
                            </select>
                          </div>
                          <div class="col-xxl-12">
                            <label for="tahlil" class="form-label
                              form-label-sm">Tahlil Türü Seçiniz</label>
                            <select id="tahlil" class="form-control
                              form-control-sm">
                              <option value="mastitis">Mastitis</option>
                              <option value="aa">aa</option>
                            </select>
                          </div>
                          <div class="col-xxl-6">
                            <label for="tahlil" class="form-label
                              form-label-sm">Hayvan Id</label>
                            <select id="tahlil" class="form-control
                              form-control-sm">
                              <option value="mastitis">123123</option>
                              <option value="mastitis">456456</option>
                              <option value="mastitis">645642</option>
                              <option value="mastitis">234543</option>
                            </select>
                          </div>
                          <div class="col-xxl-6">
                            <label for="tahlil" class="form-label
                              form-label-sm">Tarih</label>
                            <input type="date" class="form-control form-control-sm">
                          </div>

                          <div class="col-xxl-6">
                            <label for="tahlil" class="form-label
                              form-label-sm">1. Lob</label>
                            <div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob1" id="inlineRadio1" value="option1">
                                <label class="form-check-label"
                                  for="inlineRadio1">1</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob1" id="inlineRadio2" value="option2">
                                <label class="form-check-label"
                                  for="inlineRadio2">2</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob1" id="inlineRadio3" value="option3">
                                <label class="form-check-label"
                                  for="inlineRadio1">3</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob1" id="inlineRadio4" value="option4">
                                <label class="form-check-label"
                                  for="inlineRadio2">4</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob1" id="inlineRadio5" value="option5">
                                <label class="form-check-label"
                                  for="inlineRadio2">5</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-6">
                            <label for="tahlil" class="form-label
                              form-label-sm">2. Lob</label>
                            <div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob2" id="inlineRadio1" value="option1">
                                <label class="form-check-label"
                                  for="inlineRadio1">1</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob2" id="inlineRadio2" value="option2">
                                <label class="form-check-label"
                                  for="inlineRadio2">2</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob2" id="inlineRadio3" value="option3">
                                <label class="form-check-label"
                                  for="inlineRadio1">3</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob2" id="inlineRadio4" value="option4">
                                <label class="form-check-label"
                                  for="inlineRadio2">4</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob2" id="inlineRadio5" value="option5">
                                <label class="form-check-label"
                                  for="inlineRadio2">5</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-6">
                            <label for="tahlil" class="form-label
                              form-label-sm">3. Lob</label>
                            <div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob3" id="inlineRadio1" value="option1">
                                <label class="form-check-label"
                                  for="inlineRadio1">1</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob3" id="inlineRadio2" value="option2">
                                <label class="form-check-label"
                                  for="inlineRadio2">2</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob3" id="inlineRadio3" value="option3">
                                <label class="form-check-label"
                                  for="inlineRadio1">3</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob3" id="inlineRadio4" value="option4">
                                <label class="form-check-label"
                                  for="inlineRadio2">4</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob3" id="inlineRadio5" value="option5">
                                <label class="form-check-label"
                                  for="inlineRadio2">5</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-6">
                            <label for="tahlil" class="form-label
                              form-label-sm">4. Lob</label>
                            <div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob4" id="inlineRadio1" value="option1">
                                <label class="form-check-label"
                                  for="inlineRadio1">1</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob4" id="inlineRadio2" value="option2">
                                <label class="form-check-label"
                                  for="inlineRadio2">2</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob4" id="inlineRadio3" value="option3">
                                <label class="form-check-label"
                                  for="inlineRadio1">3</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob4" id="inlineRadio4" value="option4">
                                <label class="form-check-label"
                                  for="inlineRadio2">4</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                  name="lob4" id="inlineRadio5" value="option5">
                                <label class="form-check-label"
                                  for="inlineRadio2">5</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="hstack gap-2 justify-content-end"
                          style="margin-bottom: 10px; margin-right: 10px;">
                          <button type="button" class="btn btn-success">Kaydet</button>
                        </div>
                      </div>
                    </div>
                  </div>