<div class="tab-pane fade show active" id="nav-view" role="tabpanel" aria-labelledby="nav-view-tab">

  <head>
    <title>Mastitis Kayıtları</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
  </head>

  <body>
    <table id="mastitisTable" class="display">
      <thead>
        <tr>
          <th>Hayvan İd</th>
          <th>Çiftlik</th>
          <th>Tahlil Türü</th>
          <th>Tahlil Sonucu</th>
          <th>Tarih</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <script src="ajax.js"></script>

  <script>
    $(document).ready(function () {
      $('#mastitisTable').DataTable({
        ajax: {
          url: 'api/Mastitis',
          dataSrc: ''
        },
        columns: [
          { data: 'animalId' },
          { data: 'farm' },
          { data: 'assay' },
          { data: 'result' },
          { data: 'createdTime' }
        ]
      });
    });
  </script>
  
  </body>
  <!-- <div class="card">
                      <table class="table" id="mastitis" >
                        <thead>
                          <tr>
                            <th scope="col">Hayvan İd</th>
                            <th scope="col">Çiftlik</th>
                            <th scope="col">Tahlil Türü</th>
                            <th scope="col">Tahlil Sonucu</th>
                            <th scope="col">Tarih</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>143242</td>
                            <td>Makü Çiftlik</td>
                            <td>Mastitis</td>
                            <td>Pozitif</td>
                            <td>16.01.23</td>
                          </tr>
                          <tr>
                            <td>24232</td>
                            <td> Çiftlik</td>
                            <td>Mastitis</td>
                            <td>Negatif</td>
                            <td>16.11.22</td>
                          </tr>
                          <tr>
                            <td>376476</td>
                            <td>Makü Çiftlik</td>
                            <td>Mastitis</td>
                            <td>Negatif</td>
                            <td>16.12.22</td>
                          </tr>
                          <tr>
                            <td>446547</td>
                            <td>Makü Çiftlik</td>
                            <td>Mastitis</td>
                            <td>Pozitif</td>
                            <td>16.01.23</td>
                          </tr>
                          <tr>
                            <td>534535</td>
                            <td> Çiftlik</td>
                            <td>Mastitis</td>
                            <td>Negatif</td>
                            <td>16.11.22</td>
                          </tr>
                          <tr>
                            <td>6345345</td>
                            <td>Makü Çiftlik</td>
                            <td>Mastitis</td>
                            <td>Negatif</td>
                            <td>16.12.22</td>
                          </tr>
                          <tr>
                            <td>75456</td>
                            <td>Makü Çiftlik</td>
                            <td>Mastitis</td>
                            <td>Pozitif</td>
                            <td>16.01.23</td>
                          </tr>
                          <tr>
                            <td>863465</td>
                            <td> Çiftlik</td>
                            <td>Mastitis</td>
                            <td>Negatif</td>
                            <td>16.11.22</td>
                          </tr>
                          <tr>
                            <td>964346</td>
                            <td>Makü Çiftlik</td>
                            <td>Mastitis</td>
                            <td>Negatif</td>
                            <td>16.12.22</td>
                          </tr>
                          <tr>
                            <td>1046546</td>
                            <td>Makü Çiftlik</td>
                            <td>Mastitis</td>
                            <td>Pozitif</td>
                            <td>16.01.23</td>
                          </tr>
                          <tr>
                            <td>113465</td>
                            <td> Çiftlik</td>
                            <td>Mastitis</td>
                            <td>Negatif</td>
                            <td>16.11.22</td>
                          </tr>
                          <tr>
                            <td>125643</td>
                            <td>Makü Çiftlik</td>
                            <td>Mastitis</td>
                            <td>Negatif</td>
                            <td>16.12.22</td>
                          </tr>
                        </tbody>

                      </table>
                    </div> -->