<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./inc/head')%>
  <%-include('./inc/import')%>
  <%-include('./inc/css')%>
</head>
<body>
  
    <div class="container" >
    <div class="row">
    <form class="form"  action="" method="post">
      <h1 class="log">Üye Ol</h1>
      <div class="form-group">
      <input type="text" name ="name" required >
      <span></span>
        <label for="name" >Ad</label>
    </div>
    <div class="form-group">
      <input type="text"  name ="surname" required >
      <span></span>
        <label for="name" >Soyad</label>
    </div>
      <div class="form-group">
      <input type="email"  name ="email" required >
      <span></span>
        <label for="name" >E-posta</label>
    </div>
      <div class="form-group">
      <input type="password"  name ="password" required >
      <span></span>
        <label for="name" >Şifre</label>
    </div>
      <div class="form-group">
      <input type="text"  name ="phoneNumber" required >
      <span></span>
        <label for="name" >Cep Telefonu </label>
    </div>
      <input type="submit" value="Üye Ol"></input>
      <div class="singUp">
        Zaten üye misin? <a href="/login">Giriş Yap</a>
   </div>
    </form>
  </div>
</div>
  
</body>

<!-- <body>
    <div class="container" >
        <div class="row">
    <form class="form" method="post"  enctype="multipart/form-data" action="/register">
      
      <h1 class="log">Üye Ol</h1>
      <div class="form-group">
        <input type="text" name ="name" required >
        <span></span>
        <label for="name" >Ad</label>
      </div>
      <div class="form-group">
        <input type="text"  name ="surname" required >
        <span></span>
        <label for="surname" >Soyad</label>
      </div>
      <div class="form-group">
        <input type="email"  name ="email" required >
        <span></span>
        <label for="email"  >E-posta </label>
      </div>
      <div class="form-group">
        <input type="password"  name ="password"  required>
        <span></span>
        <label for="password" >Şifre</label>
      </div>
      <div class="form-group">
        <input type="text"  name ="phoneNumber" required >
        <span></span>
        <label for="phoneNumber" >Cep Telefonu </label>
      </div>
      
      <input type="submit" value="Üye Ol"></input>
      <div class="singUp">
           Zaten üye misin? <a href="/login">Giriş Yap</a>
      </div>
      
    </form>
  
</div></div>
</body> -->
</html>

<script>

</script>
